{$SITE_ADDRESS:http://localhost} {
    encode zstd gzip

    handle /api/* {
        reverse_proxy backend:8080
    }

    handle /login* {
        reverse_proxy backend:8080
    }

    handle /logout {
        reverse_proxy backend:8080
    }

    handle /webauthn/* {
        reverse_proxy backend:8080
    }

    handle /default-ui.css {
        reverse_proxy backend:8080
    }

    handle {
        reverse_proxy frontend:80
    }

    header {
        -Server
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
    }
}
