{$SITE_ADDRESS:http://localhost} {
    encode zstd gzip

    handle /api/* {
        route {
            vars original_uri {uri}
            forward_auth kirzhq-home-backend:8080 {
                uri /api/auth/check
            }
            rewrite * {vars.original_uri}
            reverse_proxy kirzhq-fin-backend-1:8080
        }
    }

    handle {
        route {
            vars original_uri {uri}
            forward_auth kirzhq-home-backend:8080 {
                uri /api/auth/check
            }
            rewrite * {vars.original_uri}
            reverse_proxy kirzhq-fin-frontend-1:80
        }
    }

    header {
        -Server
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
    }
}

home.kirzhq.ru {
    encode zstd gzip

    handle /login* {
        reverse_proxy kirzhq-home-backend:8080
    }

    handle /logout {
        reverse_proxy kirzhq-home-backend:8080
    }

    handle /webauthn/* {
        reverse_proxy kirzhq-home-backend:8080
    }

    handle /default-ui.css {
        reverse_proxy kirzhq-home-backend:8080
    }

    handle /api/auth/* {
        reverse_proxy kirzhq-home-backend:8080
    }

    handle {
        route {
            vars original_uri {uri}
            forward_auth kirzhq-home-backend:8080 {
                uri /api/auth/check
            }
            rewrite * {vars.original_uri}
            reverse_proxy kirzhq-home-frontend:80
        }
    }

    header {
        -Server
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
    }
}
